<div class="bg-white p-6 rounded-xl font-sans">
  <div class="p-6">
    <h2 class="text-xl font-semibold mb-4 text-blue-600">Configuraciones del Sistema</h2>

    <!-- Botones para cambiar sección -->
    <div class="flex gap-4 mb-6">
      <button
        (click)="cambiarSeccion('usuarios')"
        [ngClass]="{ 'bg-blue-600 text-white': seccionActiva === 'usuarios', 'bg-gray-200': seccionActiva !== 'usuarios' }"
        class="px-4 py-2 rounded border"
      >
        Usuarios
      </button>

      <button
        (click)="cambiarSeccion('vehiculos')"
        [ngClass]="{ 'bg-blue-600 text-white': seccionActiva === 'vehiculos', 'bg-gray-200': seccionActiva !== 'vehiculos' }"
        class="px-4 py-2 rounded border"
      >
        Vehículos
      </button>
    </div>

    <!-- Sección USUARIOS -->
    <section *ngIf="seccionActiva === 'usuarios'">
      <div class="mb-4 text-right">
        <button (click)="agregarUsuario()" class="bg-green-600 text-white px-4 py-2 rounded">+ Agregar nuevo usuario</button>
      </div>

      <!-- Formulario agregar usuario -->
      <form
        *ngIf="mostrarFormularioUsuario"
        (ngSubmit)="guardarUsuario()"
        class="mb-6 p-4 border rounded bg-gray-50"
      >
        <h3 class="text-lg font-semibold mb-3">Registrar nuevo usuario</h3>
         <input type="text" placeholder="Matrícula" [(ngModel)]="nuevoUsuario.matriculaUsuario" name="matricula" required class="block mb-2 p-2 border rounded w-full"  />

        <input type="text" placeholder="Nombre" [(ngModel)]="nuevoUsuario.nombreUsuario" name="nombre" required class="block mb-2 p-2 border rounded w-full" />
        <input type="text" placeholder="Apellido paterno" [(ngModel)]="nuevoUsuario.apellidoPUsuario" name="apellidoP" required class="block mb-2 p-2 border rounded w-full" />
        <input type="text" placeholder="Apellido materno" [(ngModel)]="nuevoUsuario.apellidoMUsuario" name="apellidoM" required class="block mb-2 p-2 border rounded w-full" />
       
        <input type="text" placeholder="CURP" [(ngModel)]="nuevoUsuario.curpUsuario" name="curp" class="block mb-2 p-2 border rounded w-full"  />
        <input type="text" placeholder="RFC" [(ngModel)]="nuevoUsuario.rfcUsuario"  name="rfc" class="block mb-2 p-2 border rounded w-full" />
        <input type="text" placeholder="Categoría"  [(ngModel)]="nuevoUsuario.categoriaUsuario" name="categoria" class="block mb-2 p-2 border rounded w-full" />
        <input type="password"  placeholder="Password"  [(ngModel)]="nuevoUsuario.passwordUsuario"  name="password" class="block mb-2 p-2 border rounded w-full" />

        <label class="block mb-2 font-semibold">Asignación</label>
        <select [(ngModel)]="nuevoUsuario.fkIdTipoUsuario"  name="asignacion" class="block mb-2 p-2 border rounded w-full" required  >
          <option value="1">Administrador</option>
          <option value="2">Subadministrador</option>
          <option value="3">Operador</option>
          <option value="4">Administrativo</option>
        </select>

        <label class="block mb-2 font-semibold">Estatus</label>
        <select
          [(ngModel)]="nuevoUsuario.statusUsuario"
          name="estatus"
          class="block mb-4 p-2 border rounded w-full"
          required
        >
          <option value="1">Alta</option>
          <option value="0">Baja</option>
        </select>

        <div class="flex gap-2">
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Guardar usuario</button>
          <button
            type="button"
            (click)="mostrarFormularioUsuario = false"
            class="bg-gray-400 px-4 py-2 rounded"
          >
            Cancelar
          </button>
        </div>
      </form>

      <!-- Formulario editar usuario -->
      <form
        *ngIf="editarUsuarioActivo"
        (ngSubmit)="guardarCambiosUsuario()"
        class="mb-6 p-4 border rounded bg-yellow-50"
      >
        <h3 class="text-lg font-semibold mb-3">Editar usuario</h3>

        <input  type="text"  placeholder="Nombre" [(ngModel)]="usuarioSeleccionado!.nombreUsuario" name="editNombre" requiredclass="block mb-2 p-2 border rounded w-full"/>
        <input  type="text" placeholder="Matrícula" [(ngModel)]="usuarioSeleccionado!.matriculaUsuario"
          name="editMatricula" required  class="block mb-2 p-2 border rounded w-full" />
        <input  type="text"  placeholder="CURP" [(ngModel)]="usuarioSeleccionado!.curpUsuario"  name="editCurp"  class="block mb-2 p-2 border rounded w-full" />
        <input  type="text" placeholder="RFC" [(ngModel)]="usuarioSeleccionado!.rfcUsuario" name="editRfc"  class="block mb-2 p-2 border rounded w-full" />
        <input type="text" placeholder="Categoría"  [(ngModel)]="usuarioSeleccionado!.categoriaUsuario" name="editCategoria"  class="block mb-2 p-2 border rounded w-full" />
        <input type="password" placeholder="Password"  [(ngModel)]="usuarioSeleccionado!.passwordUsuario" name="editPassword" class="block mb-2 p-2 border rounded w-full" />

        <label class="block mb-2 font-semibold">Asignación</label>
        <select  [(ngModel)]="usuarioSeleccionado!.fkIdTipoUsuario"  name="editAsignacion" class="block mb-2 p-2 border rounded w-full" required  >
          <option value="5">Administrador</option>
          <option value="2">Subadministrador</option>
          <option value="3">Operador</option>
          <option value="4">Administrativo</option>
        </select>

        <label class="block mb-2 font-semibold">Estatus</label>
        <select [(ngModel)]="usuarioSeleccionado!.statusUsuario" name="editEstatus" class="block mb-4 p-2 border rounded w-full" required >
          <option value="1">Alta</option>
          <option value="0">Baja</option>
        </select>

        <div class="flex gap-2 items-center">
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Guardar cambios</button>
          <button
            type="button"
            (click)="editarUsuarioActivo = false; usuarioSeleccionado = null"
            class="bg-gray-400 px-4 py-2 rounded"
          >
            Cancelar
          </button>
        </div>
      </form>

      <!-- Tabla de usuarios -->
      <table class="w-full bg-white rounded-lg shadow overflow-hidden">
        <thead>
          <tr class="bg-gray-200 bg-green-100">
            <th class="border border-gray-300 p-2">Nombre</th>
            <th class="border border-gray-300 p-2">Matrícula</th>
            <th class="border border-gray-300 p-2">Categoría</th>
            <th class="border border-gray-300 p-2">Asignación</th>
            <th class="border border-gray-300 p-2">Estatus</th>
            <th class="border border-gray-300 p-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td class="border border-gray-300 p-2">{{ usuario.nombreUsuario }} {{usuario.apellidoPUsuario}} {{usuario.apellidoMUsuario}}</td>
            <td class="border border-gray-300 p-2">{{ usuario.matriculaUsuario }}</td>
            <td class="border border-gray-300 p-2">{{ usuario.categoriaUsuario }}</td>
            <td class="border border-gray-300 p-2">{{tipoUsuarioMap[usuario.fkIdTipoUsuario] }}</td>
            <td class="border border-gray-300 p-2 capitalize">{{ getStatusTexto( usuario.statusUsuario) }}</td>
            <td class="border border-gray-300 p-2">
              <button (click)="editarUsuario(usuario)" class="bg-yellow-400 px-2 py-1 rounded mr-2">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Sección VEHÍCULOS -->
    <section *ngIf="seccionActiva === 'vehiculos'">
      <div class="mb-4 text-right">
        <button (click)="agregarVehiculo()" class="bg-green-600 text-white px-4 py-2 rounded">+ Agregar nuevo vehículo</button>
      </div>

      <!-- Formulario agregar vehículo -->
      <form
        *ngIf="mostrarFormularioVehiculo"
        (ngSubmit)="guardarVehiculo()"
        class="mb-6 p-4 border rounded bg-gray-50"
      >
        <h3 class="text-lg font-semibold mb-3">Registrar nuevo vehículo</h3>

        <!-- <input
          type="text"
          placeholder="Tipo"
          [(ngModel)]="nuevoVehiculo.fkIdTipoVehiculo"
          name="tipo"
          required
          class="block mb-2 p-2 border rounded w-full"
        /> -->

<label class="block mb-2 font-semibold">Tipo de Vehículo</label>
<select
  [(ngModel)]="nuevoVehiculo.fkIdTipoVehiculo"
  name="tipoVehiculo"
  class="block mb-2 p-2 border rounded w-full"
  required
>
  <option value="" disabled selected hidden>Seleccione un tipo</option>
  <option *ngFor="let tipo of tiposVehiculos" [value]="tipo.idTipoVehiculo">
    {{ tipo.nombreTipo }}
  </option>
</select>


        <input
          type="text"
          placeholder="Placas"
          [(ngModel)]="nuevoVehiculo.placa"
          name="placas"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="text"
          placeholder="Modelo"
          [(ngModel)]="nuevoVehiculo.modelo"
          name="modelo"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="text"
          placeholder="Marca"
          [(ngModel)]="nuevoVehiculo.marca"
          name="marca"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="number"
          placeholder="Kilometraje Actual"
          [(ngModel)]="nuevoVehiculo.kilometrajeActual"
          name="actualKilometraje"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="number"
          placeholder="Próximo Servicio"
          [(ngModel)]="nuevoVehiculo.proximoServicioKm"
          name="proximoServicio"
          class="block mb-2 p-2 border rounded w-full"
        />

        <label class="block mb-2 font-semibold">Estatus</label>
        <select
          [(ngModel)]="nuevoVehiculo.estatus"
          name="estatus"
          class="block mb-2 p-2 border rounded w-full"
          required
        >
          <option value="alta">Alta</option>
          <option value="baja">Baja</option>
          <option value="mantenimiento">Mantenimiento</option>
        </select>

        <input
          type="text"
          placeholder="ECCO"
          [(ngModel)]="nuevoVehiculo.ecco"
          name="ecco"
          class="block mb-4 p-2 border rounded w-full"
        />

        <div class="flex gap-2">
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Guardar vehículo</button>
          <button
            type="button"
            (click)="mostrarFormularioVehiculo = false"
            class="bg-gray-400 px-4 py-2 rounded"
          >
            Cancelar
          </button>
        </div>
      </form>

      <!-- Formulario editar vehículo -->
      <form
        *ngIf="editarVehiculoActivo"
        (ngSubmit)="guardarCambiosVehiculo()"
        class="mb-6 p-4 border rounded bg-yellow-50"
      >
        <h3 class="text-lg font-semibold mb-3">Editar vehículo</h3>

        <input
          type="text"
          placeholder="Tipo"
          [(ngModel)]="vehiculoSeleccionado!.fkIdTipoVehiculo"
          name="editTipo"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="text"
          placeholder="Placas"
          [(ngModel)]="vehiculoSeleccionado!.placa"
          name="editPlacas"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="text"
          placeholder="Modelo"
          [(ngModel)]="vehiculoSeleccionado!.modelo"
          name="editModelo"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="number"
          placeholder="Kilometraje Actual"
          [(ngModel)]="vehiculoSeleccionado!.kilometrajeActual"
          name="editActualKilometraje"
          required
          class="block mb-2 p-2 border rounded w-full"
        />
        <input
          type="text"
          placeholder="Próximo Servicio"
          [(ngModel)]="vehiculoSeleccionado!.proximoServicioKm"
          name="editProximoServicio"
          class="block mb-2 p-2 border rounded w-full"
        />

        <label class="block mb-2 font-semibold">Estatus</label>
        <select
          [(ngModel)]="vehiculoSeleccionado!.estatus"
          name="editEstatus"
          class="block mb-2 p-2 border rounded w-full"
          required
        >
          <option value="alta">Alta</option>
          <option value="baja">Baja</option>
          <option value="mantenimiento">Mantenimiento</option>
        </select>

        <input
          type="text"
          placeholder="ECCO"
          [(ngModel)]="vehiculoSeleccionado!.ecco"
          name="editEcco"
          class="block mb-4 p-2 border rounded w-full"
        />

        <div class="flex gap-2">
          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Guardar cambios</button>
          <button
            type="button"
            (click)="editarVehiculoActivo = false; vehiculoSeleccionado = null"
            class="bg-gray-400 px-4 py-2 rounded"
          >
            Cancelar
          </button>
        </div>
      </form>

      <!-- Tabla de vehículos -->
      <table class="w-full bg-white rounded-lg shadow overflow-hidden ">
        <thead>
          <tr class="bg-gray-200 bg-green-100">
            <th class="border border-gray-300 p-2">Tipo</th>
            <th class="border border-gray-300 p-2">Placas</th>
            <th class="border border-gray-300 p-2">Modelo</th>
            <th class="border border-gray-300 p-2">Kilometraje</th>
            <th class="border border-gray-300 p-2">Próximo Servicio</th>
            <th class="border border-gray-300 p-2">Estatus</th>
            <th class="border border-gray-300 p-2">ECCO</th>
            <th class="border border-gray-300 p-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos">
            <td class="border border-gray-300 p-2">{{tipoVehiculoMap[vehiculo.fkIdTipoVehiculo]}} </td>
            <td class="border border-gray-300 p-2">{{ vehiculo.placa }}</td>
            <td class="border border-gray-300 p-2">{{ vehiculo.modelo }}</td>
            <td class="border border-gray-300 p-2">{{ vehiculo.kilometrajeActual }}</td>
            <td class="border border-gray-300 p-2">{{ vehiculo.fkIdTipoVehiculo }}</td>
            <td class="border border-gray-300 p-2 capitalize">{{ vehiculo.estatus }}</td>
            <td class="border border-gray-300 p-2">{{ vehiculo.ecco }}</td>
            <td class="border border-gray-300 p-2">
              <button (click)="editarVehiculo(vehiculo)" class="bg-yellow-400 px-2 py-1 rounded mr-2">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>


     
